        ul {
            list-style:none;
            margin:0;
            padding-left: 0;
            text-align: center;
        }
        li {
            display: inline-block;
            padding: 15px;
            color:black;
            background-color: lightcyan;
            text-align: center;
        }
        body {
            background-image: url("img/Plini-Impulse-Voices-Art.jpg");
            text-align: center;
        }
        div {
            width: 200%;
            background-color: lightgrey;
            width: auto;
            border: 20px solid green;
            padding: auto;
            margin: auto;
            color:black;
            font-size:15px;
        }
        div.galleryImage {
            margin: 10px;
            border: 1px solid;
            float:inherit;
            width:auto;
        }
        div.galleryImage img {
            text-align: center;
        }
        div.galleryImage:hover {
            border:2px solid;
        }
        div.describ {
            padding:20px;
            text-align: center;
        }
        